.body {
  max-width: 1197px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px 110px 10px;
}

.header {
  max-width: 1197px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px 110px 10px;
}

.main {
  display: flex;
  padding: 20px 15px 110px 10px;
}
.right-side {
  width: 100%;
}

/* меню */
.nav {
  margin: 20px 0;
}
.nav ul {
  margin: 0;
  padding: 0;
}
.nav li {
  margin: 0 5px 10px 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  display: inline; /* ie7 */
}
.nav a {
  padding: 3px 12px;
  text-decoration: none;
  color: #999;
  line-height: 100%;
}
.nav a:hover {
  color: #000;
}
.nav .current a {
  background: #999;
  color: #fff;
  border-radius: 3px;
}

.image {
  text-align: center;
  margin: 0 0 20px 0;
  overflow: hidden;
}
.image a {
  width: 50%;
  display: block;
  float: right;
  line-height: 0;
}
.image img {
  width: 100%;
  height: auto;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 20px auto;
}
.card {
  width: 25%;
  border: 1px solid black;
  padding: 20px;
}
.card_image {
  height: 120px;
  background-color: #a2a2a2;
  margin: auto;
}
.card_description {
  margin-top: 50px;
  text-align: center;
}

.image-list img {
  border: 2px solid #55c5e9; /* Рамка вокруг фотографии */
  padding: 15px; /* Расстояние от картинки до рамки */
  background: #666; /* Цвет фона */
  margin-right: 10px; /* Отступ справа */
  margin-bottom: 10px; /* Отступ снизу */
}
#logo-container {
  width: 100px;
  height: 100px;
  position: relative;
}

#logo-container img {
  width: 100%;
  height: 100%;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#logo-container img {
  animation: blink 2s infinite;
}

body {
  background: #000 url(fon.JPG); /* Фоновый цвет и фоновый рисунок*/
  color: #fff; /*Цвет текста на странице*/
  background-attachment: fixed; /* Фон страницы фиксируется */
  background-repeat: repeat-x; /* Изображение повторяется по горизонтали */
}
